.App {
  display: flex;
  padding: 20px;
}

.example-wrapper {
  display: flex;
  border: solid 1px #000;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 50%;
}

.column__header {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.event-wrapper {
  display: flex;
  width: 100%;
}

.remove-button {
  margin-top: 5px;
  color: #09f;
  cursor: pointer;
}

.change-button-text {
  margin-top: 5px;
  color: #969;
  cursor: pointer;
}